[2017-09-10 13:51] delvedor opened #1 "Use decorateReply"
Hi, thank you for the module!
I think [here](https://github.com/jsumners/fastify-cookie/blob/master/plugin.js#L15-L19) you can use the `decorateReply` api, you will get way better performances! :)

https://github.com/fastify/fastify/blob/master/docs/Plugins-Guide.md#decorators

___
Edit:
Obviously the `decorateReply` should be used outside the hook handler ;)

[2017-09-10 20:47] #1 closed

[2017-12-04 15:46] dsun9 opened #2 "How do I sign a cookie?"
Hi, please give an example to sign a cookie thanks

[2017-12-04 15:55] jsumners commented on #2
This plugin merely provides the tools necessary to set and access cookies. The cookie value is up to the user. Therefore, to issue a "signed" cookie use something like https://www.npmjs.com/package/cookie-signature to generate the value to be set.

[2017-12-04 15:55] #2 closed

[2018-02-03 21:21] Mat-thieu opened #5 "Can't access cookie in preHandler"
The cookie object doesn't seem to exist in the `preHandler` hook inside my routes, see my code below;

[code]

I'm certain the cookie actually exists.
I know the middleware utilizes the `preHandler` to set the cookie object, is that the reason it can't be accessed inside any other `preHandler`?

[2018-02-03 21:32] mcollina commented on #5
It might be. However it might also be a bug. I fear we might be adding the prehandlers in the weong order.

The best way to achieve this is to set beforeHandler when you define your route.

[2018-02-03 21:35] nwoltman commented on #5
In your example, you should be using `request.cookies` (with an `s` at the end).

Other than that, what's happening here is that calls to `fastify.register` are asynchronous, so the `fastify-cookie` plugin gets registered after you add your `preHandler` hook, which means that your `preHandler` hook will run before the cookie `preHandler` hook.

This may get fixed in a future release of `fastify`,

[2018-02-03 21:42] Mat-thieu commented on #5
@nwoltman Sorry made some last minute adjustments to the example, in my actual code it's `cookies`.
Your solutions works, I suggest you update the readme with that example because I can imagine it's not uncommon to want to use the cookie in a preHandler.

@mcollina That also works, @nwoltman 's solution saves me a little repetition though :)

Thanks for the rapid response guys! Loving the framewor

[2018-02-03 22:17] #5 closed

[2018-03-04 23:54] greenkeeper[bot] opened #6 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-06-29 18:30] ToonvanStrijp opened #9 "Feature cookie signing"
I would like to see a cookie signing feature like the https://github.com/expressjs/cookie-session has.

Is that something that would be implemented in the near feature?

[2018-06-29 21:28] jsumners commented on #9
Why not use https://www.npmjs.com/package/cookie-signature to create a signed cookie value? That's how it's done in `fastify-server-session`: https://github.com/jsumners/fastify-server-session/blob/a4b8e447f142b102a9597dc465e14af6cd2d1e18/plugin.js#L88-L89

[2018-06-30 06:58] mcollina commented on #9
@ToonvanStrijp can you check if https://github.com/mcollina/fastify-secure-session does the trick?

[2018-06-30 16:48] ToonvanStrijp commented on #9
@jsumners @mcollina  thanks! That's exactly what I needed!

[2018-06-30 17:45] #9 closed

[2018-07-02 16:59] ToonvanStrijp opened #10 "Cookie expiration set as session"
How do I set the cookie expiration to be a session?

[2018-07-02 22:52] jsumners commented on #10
https://www.npmjs.com/package/cookie#expires

[2018-07-02 23:05] ToonvanStrijp commented on #10
@jsumners thanks! :) That answered my question!

[2018-07-02 23:53] #10 closed

[2018-11-29 15:04] contis2908 opened #16 "Setting a specific path via the options argument isn't applied."
**Example:**
1. `res.setCookie('language', 'en', { path:'/foo' });`
2. `res.setCookie('language', 'en', { path:'/' });`

**Expected outcome:**
1. Name `language` value `en` path `/foo`
2. Name `language` value `en` path `/`

**Actual outcome:**
1. No cookie is getting set at all.
2. Default path is taken

Tested in Chrome Version 67.0.3396.99
Node version v11.0.0
Fastify-Cookie Version 2.1.1

[2018-11-29 15:18] cemremengu commented on #16
Could you please share a reproducible sample? The tests for this are [passing](https://github.com/fastify/fastify-cookie/blob/master/test/cookie.test.js#L10)

[2018-11-29 15:32] contis2908 commented on #16
I just did some further digging and I believe what is happening is that the path is actually set as I can see the Response Cookie in the Browser. However, Chrome is not setting the Cookie so the problem isn't on your side.

[2018-11-29 15:48] cemremengu commented on #16
Right, thats probably the issue. I think we can update our docs adding a note for this. Can you verify if that solves it for you?

[2018-11-29 15:51] contis2908 commented on #16
Well to be honest I was about to close that issue again as it mysteriously vanished on my side.
I will be checking up on it tomorrow again and post updates here.

Although, I think reminding users about this might be a good idea either way.

[2018-11-29 15:54] jsumners commented on #16
If you are attempting to set the cookie on a `localhost` domain then you will encounter difficulties, particularly with Chrome based browsers.

[2018-11-29 15:58] contis2908 commented on #16
@jsumners I did read about this in one of the stack links i've posted above. However, I encountered the issue earlier today in our production repods.io.

As mentioned I am unable to reproduce it again and as it seemed it wasn't related to your side.
Thanks for the quick support, will be closing that issue for now

[2018-11-29 15:58] #16 closed

[2018-12-12 01:48] allancalix opened #17 "Exported types do not support using HTTP2"
The plugin type exported here expects only HTTP underlying types while Fastify itself supports both HTTP and HTTP2 types.

This package seemingly works with either and can safely expect either one.

[2018-12-12 02:08] cemremengu commented on #17
Typings are mostly based on community contributions so those might be missing unfortunately. Would you like to send a PR?

[2018-12-12 02:36] allancalix commented on #17
No problem!

Submitted a PR here: https://github.com/fastify/fastify-cookie/pull/18

[2018-12-22 18:35] #17 closed

[2018-12-30 16:42] BofEmptiness opened #19 "Fastify-plugin - expected '^1.1.0' fastify version, '2.0.0' is installed"
After update to fastify 2.0 i've got an error from this plugin. Is there a way to fix this?

[2018-12-30 16:49] cemremengu commented on #19
You need to get the `@next` release to use this plugin with Fastify v2

[2018-12-30 16:51] cemremengu commented on #19
Sorry my bad

[2018-12-30 17:03] BofEmptiness commented on #19
Ok, so i will edit this in source code and wait until new npm package will come?

[2018-12-30 17:04] #19 closed

[2018-12-30 17:41] cemremengu commented on #19
@BofEmptiness landed in `^2.1.5`

[2019-02-01 06:08] greenkeeper[bot] opened #21 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.5.0` to `12.5.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-cookie/compare/master...fastify:greenkeeper%2Ftap-12.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not b

[2019-02-02 00:00] DanTsk opened #22 "Broken typings"
[code]

[2019-02-02 00:07] DanTsk commented on #22
Oh, I saw those typings were updated 6 hrs ago. Please, refresh it in NPM.

[2019-02-02 00:54] mcollina commented on #22
Done.

[2019-02-02 00:54] #22 closed

[2019-02-08 07:06] #21 closed

[2019-02-14 15:20] Exiliot opened #24 "How do I remove a cookie?"
Hi,

Could you give an example please how to remove a cookie using fastify reply? Unfortunately, cannot find any methods for this action, while it is quite needed, especially for "httpOnly" cookies.

Thank you in advance!

[2019-02-14 15:27] cemremengu commented on #24
I think you can (re)set it with an older expiration date like `Date.now()` ?

[2019-02-14 16:19] jsumners commented on #24
Correct. As per spec you simply set a new cookie with the same name and an expired lifetime.

[2019-02-15 08:20] Exiliot commented on #24
Great, thank you for the answers!

[2019-02-15 08:20] #24 closed

[2019-03-14 19:29] ReTWi opened #28 "Strange error object"
I started to see error in console from fastify-cookies.
Everything seems works fine.
I don't know where to look problem because error looks strange.
Maybe now it should be used without callback with error:
`fastify.register(require('fastify-cookie'))`

Last versions of everything.
[code]

Error object:
[code]

[2019-03-14 21:07] jsumners commented on #28
@mcollina this change is passing in the server in place of an error https://github.com/mcollina/avvio/blame/98ddf6d13a56c76eef7ee753f793fa3fdba485a8/plugin.js#L66

[2019-03-14 21:19] mcollina commented on #28
Yes! However thst syntax was deprecated in fastify 0.37 or something similar. That callback is now throwing because it is now getting called.

[2019-03-14 21:33] pramodhts opened #29 "How about adding ability to remove cookie?"
Inspiration : https://sailsjs.com/documentation/reference/response-res/res-clear-cookie

[2019-03-14 21:41] jsumners commented on #28
Well I missed that memo. 🤦‍♂️

[2019-03-14 21:43] jsumners commented on #28
@ReTWi care to submit a PR to fix the readme?

[2019-03-14 21:43] jsumners commented on #29
Simply set an expired cookie with the same name. This module takes a minimal approach.

[2019-03-14 22:17] pramodhts commented on #29
That make complete sense. Thanks @jsumners

[2019-03-14 22:17] #29 closed

[2019-03-15 08:19] ReTWi commented on #28
@jsumners nope, sorry, don't understand what should i change...

[2019-03-15 08:21] mcollina commented on #28
the README is wrong. Don’t pass in a callback to register.

[2019-03-15 10:06] #28 closed

[2019-04-10 16:19] dalisoft opened #31 "Using this plugin makes app unusable"
When i am using this app, this error appears and doesn't goes next.

[code]

## How my code looks
[code]

[code]

[code]

[2019-04-10 17:40] mcollina commented on #31
Either you use `async`, or you call `next()`:

[code]

[2019-04-10 17:42] dalisoft commented on #31
Thanks, i'll removed currently this plug-in for make another backend fully then come back and fix this. As in my first backend it works flawlessly, i should change something, therefore issue may be in my code, not in plug-in.

[2019-04-10 17:42] #31 closed

[2019-06-26 18:19] colinmcparland opened #38 "Property 'setCookie' does not exist on type 'FastifyReply<ServerResponse>'."
Installed `fastify-cookie` with `npm install fastify-cookie`.
Using VSCode.
fastify v.2.0.1
fastify-cookie v.3.0.2
error:
[code]

Code:

[code]

[2019-06-28 09:57] mcollina commented on #38
Would you like to send a PR to fix this?

[2019-06-29 01:58] colinmcparland commented on #38
Sure, would you mind pointing me in the right direction? :^)

[2019-06-29 07:25] mcollina commented on #38
I don't know why it's not picked up correctly.
Maybe @Ethan-Arrowood @evanshortiss might help.

[2019-07-01 17:26] evanshortiss commented on #38
@colinmcparland can you try using import syntax instead? This works for me:

[code]

[2019-07-01 18:08] evanshortiss commented on #38
@colinmcparland if that fails, let us know which versions you're using for `fastify`, `fastify-cookie` and `typescript` in your project, plus tsconfig/compile flags.

[2019-07-01 18:16] evanshortiss commented on #38
@colinmcparland I got more time to look into this and see the *real* issue.

Change:

[code]

to this:

[code]

Import will make TS import the typings.

[2019-07-01 23:31] colinmcparland commented on #38
@evanshortiss amazing, that fixed the issue.  Thanks!!

[2019-07-01 23:31] #38 closed

[2019-07-18 12:39] cryptofuture opened #40 "I see set-cookie in response headers, but cookie is not saved in browser"
Basically after an auth, I setting a cookie, but apparently after page refresh on the cookie that was set by cloudflare is saved And the cookie that I transmitted with set-cookie is not used in after set-cookie requests

[code]
[code]

All my websites are https

First I do POST request for an auth on `/auth`, and you could see response in response headers above and after I do GET on (trying to loa

[2019-07-18 13:02] jsumners commented on #40
If you are seeing the header in the response at your client, but not in the request from the client, then the plugin is working correctly while the client is not. This is usually due to conflicts with the path and what the browser thinks the domain actually is. I would remove cloudflare from the equation to properly diagnose the problem.

[2019-07-18 14:34] cryptofuture commented on #40
Now I'm, really confused as it seems it works in Chromium, but not works in Firefox even with new clear profile

[2019-07-18 15:13] cryptofuture commented on #40
Hmm after I tested it with an actual page with js code for a XHR request it works fine. However cookie was only displayed, but not actual saved in the storage when I was sending request directly in Firefox's inspector. Srly lost a day to figure out created in inspector cookies seems preventing from installing

[2019-07-18 15:13] #40 closed

[2019-08-08 06:23] greenkeeper[bot] opened #41 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.7.0` to `12.7.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-cookie/compare/master...fastify:greenkeeper%2F%40types%2Fnode-12.7.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a de

[2019-08-09 20:52] Eomm commented on #41
Re-run the CI and it is ok

[2019-08-09 20:52] #41 closed

[2019-09-18 18:56] greenkeeper[bot] opened #45 "An in-range update of standard is breaking the build 🚨"
## The devDependency [standard](https://github.com/standard/standard) was updated from `14.3.0` to `14.3.1`.

🚨 [View failing branch](https://github.com/fastify/fastify-cookie/compare/master...fastify:greenkeeper%2Fstandard-14.3.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

standard is a devDependency of this project

[2019-10-21 13:53] zekth opened #46 "NPM publish"
Could you please publish a version with this commit?
https://github.com/fastify/fastify-cookie/commit/0b37bc26e54d112dfc0359fbac197174c4161b32

Regards

[2019-10-21 19:24] Eomm commented on #46
Done https://github.com/fastify/fastify-cookie/releases/tag/v3.2.0 👍

[2019-10-21 19:24] #46 closed

[2019-10-21 19:25] Eomm commented on #45
Flacky

[2019-10-21 19:25] #45 closed

[2019-10-21 20:23] zekth commented on #46
Thanks a lot :)

[2019-12-01 10:29] fralonra opened #48 "Allow passing options to cookie parser"
## 🚀 Feature Proposal

`cookie.parse` has a second argument [`options`](https://www.npmjs.com/package/cookie#options). Though it only support a `decode` property that defines a decoder function right now, it can be useful in some cases.

I think we could add a plugin-level option, which would be passed to `cookie.parse`.

BTW, I think we could use a `if` statement here, because `fastifyReq.cookies

[2019-12-01 11:00] mcollina commented on #48
Would you mind to send a PR with this feature? It's great!

[2019-12-02 22:03] Eomm commented on #48
Merged and released in 3.4.0!
Thanks 💪

[2019-12-02 22:03] #48 closed

[2020-01-01 01:33] iMoses opened #51 "Allow passing "secret" as part of the `setCookie` and `getCookie` decorators"
If you like the idea I'll have a PR ready in no time :)

## 🚀 Feature Proposal

Allow passing "secret" as part of the `setCookie` and `getCookie` decorators, not just at the plugin's initialization.

## Motivation

Allow the usage of multiple secrets according to application's logic.

One example is using a different secret per logged in user.

## Example

Usage example:
[code]

Changes to code:
[

[2020-01-01 08:00] mcollina commented on #51
Go for it!
Il 1 gen 2020, 03:33 +0200, iMoses <notifications@github.com>, ha scritto:

[2020-01-03 13:57] iMoses opened #53 "If no cookie header is set, cookies are preserved from previous request"
## 🐛 Bug Report

In case my user clears all of his cookies, this condition will not execute:
[code]

and `fastifyReq.cookies` is gonna remain the same as it was in the previous request.

## To Reproduce

Set a cookie and make a request, then clear all of your browser cookies and examine `req.cookies` on the next request.

## Expected behavior

Cookies decorator should reset on each request.

[code

[2020-01-03 14:32] Eomm commented on #53
The `request.cookies` is created empty at every request already.

Could you provide a complete example?

This, for example, works as expected:
[code]

[2020-01-03 15:02] iMoses commented on #53
@Eomm You are correct, it seems that the problem comes from my pattern of set a cookie then manually adding the value to the cookies object at the `preHandler` hook, so that routes and middleware could access it.

If no cookie header was sent then the default object is returned, which should be empty, but if it changed during any of the requests then the default result will always be that changed

[2020-01-03 15:43] Eomm commented on #53
Oh, I didn't know an object in a decorated request wasn't isolated.
I understand the problem: all the requests have a pointer to the same `{}` and if you don't set all the fields for each, you will have this issue.

Did you know it @mcollina ?

[code]

I would wait for tips before solving this bug because I'm undecided if we should apply to fastify core or simply add the missing `else` in the code

[2020-01-04 11:15] mcollina commented on #53
Fastify behavior is totally expected. This plugin should use a hook to reset that object to a different value for every request (or possibly set it only if there are cookies).

[2020-01-05 21:55] jsumners opened #55 "Replace Travis with GitHub Actions"
This repo should switch to using GitHub Actions instead of Travis.

[2020-01-05 21:56] jsumners opened #56 "Remove support for unsupported Node versions"
This repo should only test against supported LTS versions.

[2020-01-05 21:57] jsumners opened #57 "Remove `request` dependency"
The `request` library has been deprecated and (essentially) abandoned for a long time. We should rely on another library like `got` for testing (or simply use `fastify.inject` if possible).

[2020-01-05 22:11] jsumners commented on #53
https://github.com/fastify/fastify-cookie/releases/tag/v3.4.1

[2020-01-05 22:11] #53 closed

[2020-01-07 19:57] jsumners commented on #57
Resolved by #57.

[2020-01-07 19:57] #57 closed

[2020-01-07 19:58] jsumners commented on #55
Resolved by #59

[2020-01-07 19:58] #55 closed

[2020-01-07 19:58] jsumners commented on #56
A `next` branch has been created. Any PR resolving this should target that branch as this will be a breaking change.

[2020-01-13 12:25] stephan9mertel opened #61 "CookieSerializeOptions.sameSite should support "none" value"
## 🐛 Bug Report
The CookieSerializeOptions at https://github.com/fastify/fastify-cookie/blob/master/plugin.d.ts don't allow to set the `sameSite` parameter to `"none"`

## Expected behavior
Allow `sameSite` to be `"none"`, as specified in https://www.npmjs.com/package/cookie#options-1

## Your Environment
- *node version*: 10.8.0
- *fastify version*: 2.10.0
- *fastify-cookie version*: 3.4.1
- *os*

[2020-01-13 12:33] mcollina commented on #61
would you mind to send a PR? Thanks!
Il 13 gen 2020, 13:25 +0100, stephan <notifications@github.com>, ha scritto:

[2020-01-13 15:07] jsumners commented on #56
Resolved in #60.

[2020-01-13 15:07] #56 closed

[2020-01-13 19:27] stephan9mertel commented on #61
@mcollina here you go https://github.com/fastify/fastify-cookie/pull/62

[2020-04-22 11:24] moltar opened #68 "FastifyCookieOptions type is empty"
## 🐛 Bug Report

https://github.com/fastify/fastify-cookie/blob/ccff4eaf99694faf0461916aa07d399259114772/plugin.d.ts#L72

FastifyCookieOptions type is empty, while docs mention a few options, like `secret`, and `parseOptions`.

## To Reproduce

See link above.

## Expected behavior

To have options defined.

[2020-04-22 19:21] mcollina commented on #68
Would you like to send a PR to fix this?

[2020-04-27 21:56] ProgrammingLife opened #70 "Property 'cookies' does not exist on type FastifyRequest"
My simplified code is:
[code]

Where I have two errors:

I just followed by: https://github.com/fastify/fastify-cookie
Why it doesn't work?

- *node version*: 13
- *fastify version*: 3.0
- *fasify-cookie version*: 3.6.0
- *os*: Linux

[2020-04-27 22:43] ProgrammingLife commented on #70
Is this because: "fastify-cookie v3 only supports Fastify@2"? When Fastify-cookie v3 will support Fasity v3?

[2020-04-28 06:37] mcollina commented on #70
We are in the process of releasing all of those modules for the upcoming v3 release. It’ll take a few weeks, use previous versions.

[2020-04-28 06:37] #70 closed

[2020-06-20 21:46] Zaseth opened #73 "Validation of cookies"
Hello! I'm using fastify-cookie for my project to work with cookies and I have a question about the route validation. Is it possible to express in a schema to specific what exact cookie should be in the cookie header?

What I want: we have the header 'cookie' that must exist, where the cookie name 'id' must exist and be typof number.

As of now, I can only specify that the header 'cookie' must exi

[2020-06-20 23:52] jsumners commented on #73
I would use a `preValidation` or `preHandler` hook to do that.

[2020-06-21 09:51] Zaseth commented on #73
Okay thank you.

[2020-06-21 09:51] #73 closed

[2020-10-06 07:25] mnpenner opened #76 "Allow passing signed:true to clearCookie"
## 🐛 Bug Report

I tried setting and unsetting a cookie by storing all the options in an object:

[code]

This works fine for setting:

[code]

But throws an error when unsetting:

[code]

If you just rip the `signed` option out in the [fastifyCookieClearCookie](https://github.com/fastify/fastify-cookie/blob/c3fca36fabf88d3b38fd24641248fa658db07878/plugin.js#L35), then it should work fine.

You sh

[2020-10-06 07:33] mcollina commented on #76
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-10-06 12:03] jsumners commented on #76
I think this is working as intended. The module is meant to be minimal. If you notice, the linked code for `fastifyCookieClearCookie` does not try to manipulate the data in any way other than to follow the spec for marking a cookie as no longer valid: setting the expiration date to an invalid date.

[2020-11-01 07:37] #51 closed

[2020-11-01 07:37] #61 closed

[2020-11-01 07:37] #68 closed

[2020-12-02 19:33] Lalem001 opened #86 "Deprecation warning with Fastify 3.9.0"
## 🐛 Bug Report

Upgraded `Fastify` from 3.8.0 to 3.9.0, and the following warning shows up:

I have tracked the issue to [plugin.js#L56](https://github.com/fastify/fastify-cookie/blob/v4.1.0/plugin.js#L56)

## To Reproduce

Use fastify-cookie per documented example

## Expected behavior

No warnings

## Your Environment

- *node version*: v14.15.0
- *fastify version*: 3.9.0
- *os*: Mac

[2020-12-02 19:40] jsumners commented on #86
I think I'd rather see the implementation use the `getter/setter` decorator feature.

[2020-12-02 20:07] mcollina commented on #86
Setting the property to `null` would have the same effect.

[2020-12-07 18:24] Lalem001 commented on #86
Issue is resolved with release of [4.1.1](https://github.com/fastify/fastify-cookie/releases/tag/v4.1.1)

[2020-12-07 18:24] #86 closed

[2020-12-17 08:08] fujita-h opened #93 "Error ts2392 occurs in the TypeScript environment due to the wrong return type of unsignCookie"
## 🐛 Bug Report

Error ts2392 occurs in the TypeScript environment due to the wrong return type of `unsignCookie`

## To Reproduce

[code]
Error ts2392 occurred with `result.valid`.

## Expected behavior

needs to update `plugin.d.ts`

https://github.com/fastify/fastify-cookie/blob/db367c44b9ccee5622423ee13a45ef699a713926/plugin.d.ts#L40-L42

## Your Environment

- *node version*: 14
- *fastify ve

[2020-12-17 08:55] mcollina commented on #93
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-17 20:21] #93 closed

[2020-12-18 08:38] #76 closed

[2020-12-24 21:15] cmawhorter opened #99 "Add fastify.unsignCookie to be able to verify fastify.parseCookie values"
## 🚀 Feature Proposal

Add fastify.unsignCookie

## Motivation

#75 added fastify.parseCookie to mitigate https://github.com/fastify/fastify-websocket/issues/70 and it works, but there is no easy way to verify a signed cookie, so its usefulness is limited.

The workaround now is to create a custom signer that dupes [the default](https://github.com/fastify/fastify-cookie/blob/c3d9c984f321e5255598af

[2020-12-25 11:09] mcollina commented on #99
Sure!
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-28 02:43] vatson opened #100 "Adds ability to unsign cookies via request"
## 🚀 Feature Proposal

Adds ability to unsign cookies via request.

## Motivation

- In this case, the request becomes self-sufficient and there is no need to pass reply as an argument to other methods.
- NestJS allows to inject only request object to the constructor of Request scoped services. This is logical because services should not compose a reply. It should be done in other layers (controll

[2020-12-28 08:00] mcollina commented on #100
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2020-12-28 15:05] #100 closed

[2021-02-01 21:48] mmarti opened #103 "Unsign return signature breaking change in 4.x release line"
## 💥 Regression Report

Prior to the 4.2.0 release, `reply.unsignCookie(...)` would return a string.  After the PR, it now returns an object.  It looks like previously you were using `cookie-signature`'s logic directly, but with the custom signer, you started wrapping and returning your own object.

Breaking commit: https://github.com/fastify/fastify-cookie/compare/v4.2.0...master#diff-da0818d1007

[2021-02-01 21:53] mmarti commented on #103
Actually, I think I might have gotten the commits messed up; perhaps it was indeed a breaking change included in the 5.x release.  If that's the case, this can likely be closed, but is it possible to get a CHANGELOG or something added in the future for changes like this, or perhaps there already is a place and I'm just missing it.  Thanks.

[2021-02-01 23:06] mcollina commented on #103
That change was shipped as v5.0.0, as it was a breaking change.. and the reason why we bumped major.

[2021-02-01 23:06] #103 closed

[2021-03-18 18:00] Lightnet commented on #99
I didn't see any change for getting or was not update on fastify.unsignCookie(). Was testing the socket.io package.
[code]

[2021-03-19 11:38] #99 closed

[2021-04-02 19:25] arielnmz-iws commented on #38
Can we reopen this? Wether I use

    import fastifyCookie = require("fastify-cookie");

Or

    import * as fastifyCookie from "fastify-cookie";

tsc complains about `error TS2769: No overload matches this call.`

Moreover, using `require` breaks ES6 modules

[2021-04-03 14:16] evanshortiss commented on #38
@arielnmz-iws this works for me with a default `tsconfig.json` generated using `tsc --init` and TypeScript 4.2.3:

[code]

[2021-04-28 08:54] gaku-sei opened #121 "`unsignCookie` function present in the fastify instance object, but not in the TypeScript types file"
## 🐛 Bug Report

Not a bug _per se_, but the `plugin.d.ts` file is missing the `unsignCookie` type signature for the `FastifyInstance` type

## To Reproduce

Call the `unsignCookie` function on a `FastifyInstance` object in TS, it won't type check.

[code]

Leads to the error "The property `unsignCookie` doesn't exist on type FastifyInstance<...>"

## Expected behavior

Should type check.

## Your

[2021-05-13 06:55] #121 closed

[2021-08-29 14:40] additop78 opened #140 "Most basic functionality not working"
### Prerequisites

- [X] I have written a descriptive issue title
- [x] I have searched existing issues to ensure it has not already been reported

### Fastify version

3.18.1

### Plugin version

5.3.1

### Node.js version

12

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.10

### Description

The most basic functionality as shown in the intro docs is not wo

[2021-08-29 14:51] kibertoad commented on #140
Could you create a failing test for your use-case? Fairly sure there are existing tests for main flow.

[2021-08-29 15:32] jsumners commented on #140
Note that cookies set on local host don't really work in most browsers. Particularly Chrome. You should use a "real" domain. Even if it's something like ngrok.

[2021-08-30 07:17] additop78 commented on #140
I'm aptly sure that there are tests for the main flow. I'm not questioning the integrity of the package. It's just that I feel there are some hideous catches as jsummers highlighted which should be specified in docs.

[2021-08-30 07:30] mcollina commented on #140
This is probably relevant: https://stackoverflow.com/questions/1134290/cookies-on-localhost-with-explicit-domain

Would you like to send a PR that improves our docs?

[2021-10-03 10:09] additop78 commented on #140
Thanks everyone.

[2021-10-03 10:09] #140 closed

[2021-10-22 19:08] devlegacy opened #145 "Exported types doesn't includes parseCookie method for fastify instance"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.22.1

### Plugin version

5.3.1

### Node.js version

16.11.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

10

### Description

The parseCookie is not include in the .d.ts file.
This c

[2021-11-05 11:58] #145 closed

[2021-11-22 03:06] Uzlopak opened #151 "Integrate cookie dependency and implement faster parsing algorithm"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

The current dependency "cookie" is widely used. There are some PRs open, which aim to improve the performance, but they arent merged, despite being there for 3-4 years.

I propose we integrate the code from "cookie" an

[2021-11-22 07:51] zekth commented on #151
Would you send a PR do address this? Also be sure to add credit to: https://github.com/jshttp/cookie/blob/master/index.js

[2021-11-22 14:23] Uzlopak commented on #151
Just pinging original maintainer
@dougwilson

[2021-11-23 04:10] Uzlopak commented on #151
@zekth
Any comments?

[2021-11-23 18:20] #151 closed

[2022-01-01 07:56] MoSheikh opened #161 "Add type definitions for parseOptions in FastifyCookieOptions"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently, `parseOptions` is not defined under `FastifyCookieOptions`. I was hoping to change the `FastifyCookieOptions` interface to the following:
[code]
And add the following test:
[code]

### Motivation

_No respon

[2022-01-01 08:25] mcollina commented on #161
Thanks! Would you like to send a Pull Request to address this issue?

[2022-01-01 09:29] MoSheikh commented on #161
Sure! I did try pushing a branch through but it gave me a `Permission Denied` error - would I need to be added as a contributer?

[2022-01-01 09:38] mcollina commented on #161
You'll need to fork the project first, take a look at https://www.google.com/amp/s/www.freecodecamp.org/news/how-to-make-your-first-pull-request-on-github-3/amp/

[2022-01-01 10:14] MoSheikh commented on #161
@mcollina Oh right - thank you! [Here's the PR](https://github.com/fastify/fastify-cookie/pull/162).

[2022-01-02 12:43] #161 closed

[2022-02-08 14:52] hugoattal opened #166 "Payload typing lost when using setCookie before"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.1

### Plugin version

5.5.0

### Node.js version

16.13.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11 (21H2)

### Description

When using a schema for my route, I get payload t

[2022-02-08 17:15] mcollina commented on #166
@fastify/typescript

[2022-02-08 17:21] hugoattal commented on #166
Hum, are you suggesting I should have post this issue in another repo?
If so, I'm sorry, I don't want to waste your time 😅... But I didn't find such repo 😕...

And the type definitions seems to be in this very repo:
https://github.com/fastify/fastify-cookie/blob/master/plugin.d.ts

[2022-02-08 17:29] darkgl0w commented on #166
@hugoattal > I will take a look at this. Can you please provide a GitHub repo with a minimal setup reproducing this issue so I can just clone it ?

[2022-02-08 20:08] hugoattal commented on #166
@darkgl0w Here it is: https://github.com/hugoattal/fastify-cookie-typing-bug-repro

Just run `pnpm install` (should also work with npm) and you can see the error under `src/handler.ts`

![image](https://user-images.githubusercontent.com/4563971/153067243-1dbfefcc-d2a6-44af-be4a-ac51c6579d33.png)

[2022-02-08 21:41] darkgl0w commented on #166
@hugoattal > thank you for the minimal reproducible example.

Thanks to this I was able to spot the cause of this issue.
I will submit a PR to resolve this issue in a moment :)

[2022-02-11 08:50] #166 closed

[2022-02-14 06:57] arielnmz commented on #38
I have been postponing this for very long, sorry, the only way I have been able to make this work is by pinning `pnpm` to verson `6.16.0` any newer version fails with the error in the OP (weird, the pnpm version seems to keep this stable, but what does the package manager have to do with this?). I will try to reproduce it in a test repo as this seems to only happen when used in combination with ot

[2022-02-23 15:51] joelmukuthu opened #168 "The "latest" tag on npm is currently pointing to v5.5.0"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.27.2

### Plugin version

5.6.0

### Node.js version

16

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

It should be pointing to the latest version `5.6.0`, no?

##

[2022-02-23 15:54] mcollina commented on #168
my bad, will fix asap

[2022-02-23 15:55] #168 closed

[2022-02-23 15:55] mcollina commented on #168
done

[2022-04-04 06:00] Uzlopak opened #172 "New activity in original cookie package, evaluate it"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the issue has not already been raised

### Issue

It seems that the cookie package got updates. It should be checked if it is faster than our modified code, and if we can supply improvements and maybe switch back to the original cookie package in fastify cookie.

@dougwilson
Are you ac

[2022-04-27 15:20] chainalert-bot opened #178 "ChainAlert: npm package release (5.7.0) has no matching tag in this repo"
Dear [fastify-cookie](https://npmjs.com/package/fastify-cookie) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (5.7.0) of [fastify-cookie](https://npmjs.com/package/fastify-cookie) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we wou

[2022-04-27 18:03] #178 closed

[2022-04-28 01:37] #172 closed

[2022-05-17 20:34] budarin opened #191 "[Testing] [fastify-cookie] How to get generated signed cookie for inject"
It is necessary to generate the signed cookie content for the tests

How can I get it as a string in tests to insert into the invocation of the inject method?

Maybe the plugin should explicitly export the sign and unsign functions?

[2022-05-26 07:52] shunkica commented on #38
I have the same problem. Was this fixed?

`TS2339: Property 'setCookie' does not exist on type 'FastifyReply<Server, IncomingMessage, ServerResponse, RouteGenericInterface, unknown>'.`

[code]

[2022-07-01 16:01] rag4214 opened #189 "Request Cookies Should Be Typed As `string | undefined`"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

3.29.0

### Plugin version

6.0.0

### Node.js version

16.15.1

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

Windows 11 Pro Build 22000.739

### Description

Right now when using the pac

[2022-07-01 16:04] mcollina commented on #189
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-07-04 10:21] mcollina commented on #191
Transferred. Would you like to send a PR?

[2022-07-04 10:34] simoneb commented on #191
@budarin have you considered doing an HTTP request which generates the cookie and after that use the cookie in the following requests?

[2022-07-04 11:38] budarin commented on #191
I'll try

[2022-07-04 11:40] budarin commented on #191
I didn't quite understand the idea - explain in more detail what you want to implement

[2022-07-11 15:43] simoneb commented on #191
@budarin did you manage to make any progress on this?

[2022-07-11 17:27] budarin commented on #191
I need to check that a request without a signed cookie does not pass - the service should not accept a request without a signed cookie.

A signed cookie is issued by another service - so I need to generate a signed cookie in some way before accessing the service

[2022-07-11 18:30] simoneb commented on #191
The best way to validate your approach and get the team to approve of it is to submit a PR with that change so we can see what it'd look like. Is it something you'd be happy to do?

[2022-07-15 13:18] #189 closed

[2022-07-15 15:29] budarin commented on #191
Have found wrong type definition in last release - mede fix

[2022-07-18 11:50] #191 closed

[2022-08-30 09:00] ThaDaVos opened #207 "`options.secure` is missing typing for "auto", only `boolean` is allowed"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

8.1.0

### Node.js version

16,17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

Ubuntu 20.04.4 LTS

### Description

Currently a Typescript error is thrown when

[2022-08-30 09:02] ThaDaVos commented on #207
Apperently - even though my npm showed me being on the latest version (as it's installed through `fastify-secure-session` - it wasn't.... sorry

[2022-08-30 09:02] #207 closed

[2022-08-30 10:01] ThaDaVos opened #208 "Show warning when cookie size is over 4K (general browser size limit)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently when you send a too large cookie it just gets ignored by the browser without warnings - this makes figuring out why it's not set really cumbersome (took me almost an hour to realise this)

So maybe instead of

[2022-08-30 10:05] mcollina commented on #208
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-08-30 11:03] ThaDaVos commented on #208
I've added the following POC snippet to `plugin.js` at line 28:
![image](https://user-images.githubusercontent.com/5251028/187420448-e107716c-2859-489a-a228-3e774c7fead9.png)

And it seems to do what one would expect and calculate the size of the serialized cookie:

[code]

I only need to fix the size calculation and the actual values are 17 bytes and 3846 bytes according to the browser

[2022-08-30 11:31] ThaDaVos commented on #208
I've got the calculation correct now - at least, my calculated values matches what the browser shows - I'll create a PR - but what tests do you expect from this? @mcollina

[2022-08-30 11:54] jsumners commented on #208
🤔 I generally don't think this module should seek to teach the spec. It should implement the spec. However, the spec does provide some guidelines in this area https://www.rfc-editor.org/rfc/rfc6265#section-6.1

[2022-08-30 12:16] ThaDaVos commented on #208
Created a pull-request:
https://github.com/fastify/fastify-cookie/pull/209

[2022-08-30 12:17] ThaDaVos commented on #208
@jsumners  - it's not about teaching the spec, just helping you debug and supporting one when a cookie isn't being set

[2022-09-18 02:12] bartoszputek opened #211 "`clearCookie` does not use parseOptions"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.2.1

### Plugin version

8.1.0

### Node.js version

16.17.0

### Operating system

Linux

### Operating system version (i.e. 20.04, 11.3, 10)

20.04

### Description

I'm not sure if it is a bug or a feature request -> I de

[2022-09-18 07:25] #211 closed

[2022-09-19 14:36] pluma opened #214 "Secret should accept a Buffer (or array of buffers)"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

The type validation for `secret` in the plugin config and the signer implementation should be modified to allow `secret` to also be a `Buffer` instead of a `string`. This would mean modifying the checks for `typeof sec

[2022-09-19 14:38] Uzlopak commented on #214
PR is welcome

[2022-09-19 14:43] pluma commented on #214
This could be extended to also allow crypto keys but I have no idea how asymmetric key pairs would be handled or how to even validate keys or any of the other data types `createHmac` supports as a secret, so I think that would be out of scope.

[2022-09-19 15:36] Uzlopak commented on #214
If you implement asymmetrical encryption than basically fastify-secure-session would be obsolete.

[2022-09-25 08:03] #214 closed

[2022-09-25 14:44] pluma commented on #214
Yeah, now that I think about it, supporting (as)symmetric keys would make more sense for encrypting rather than signing the cookie. I think it would make more sense to keep encrpytion separate from signing so this should probably be a separate option. I'll write a feature request.

[2022-09-25 15:19] pluma opened #216 "Add support for encrypting cookies via node crypto's key pairs"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the feature has not already been requested

### 🚀 Feature Proposal

Currently the plugin takes a signing secret as an option to allow cryptographically signing cookies. It Would Be Cool™ if the plugin could also take a node crypto key (for symmetric encryption) or key pair (for assymme

[2022-09-26 08:18] mcollina commented on #216
Thanks for reporting! Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-11 11:33] pluma commented on #216
/cc @Uzlopak FYI, since you suggested this in #214.

[2022-10-11 16:00] Uzlopak commented on #216
I will write tonight (german time) an answer.

Stay tuned.

[2022-10-11 20:21] Uzlopak commented on #216
I personally dont like to add the symmetric encryption. It suggests people, that it is a good idea to store bigger chunks of data as a cookie. See #208  So we need atleast to add a note, to be careful and not to think that we can have multiple kb of data stored as a cookie. Also the proposal of #217 of course base64-encodes the encrypted data... yeah that adds again 30% overhead. There is no alter

[2022-10-11 21:50] gurgunday commented on #216
Hey, thanks for the detailed response! I understand your point of view and you are right that it makes more sense to prevent people from shooting themselves in the foot. In fact, this is why I love Fastify: it has the perfect balance of being unopinionated and making small-but-important architectural decisions.

I prefer encrypted cookies because they make it so much faster to set up _basic_ stuff

[2022-10-12 10:17] pluma commented on #216
FWIW my main use case for encryption would be storing internals like session IDs. Signing them works fine but there's really no reason for users to see the value. Signing is fine to prevent tampering, but encryption would provide actual secrecy.

I don't know whether fastify should specify any defaults but if it does, those defaults should be picked by someone who actually understands cryptography

[2022-10-17 10:32] Shrihari-Prakash opened #218 "Calling setCookie, deleteCookie multiple times in the same request adds multiple set-cookie headers."
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.5.3

### Plugin version

8.1.0

### Node.js version

16.14.0

### Operating system

Windows

### Operating system version (i.e. 20.04, 11.3, 10)

11

### Description

I had tried to clear a cookie set by a different piece of

[2022-10-17 11:34] mcollina commented on #218
Would you like to send a Pull Request to address this issue? Remember to add unit tests.

[2022-10-17 13:13] Uzlopak commented on #218
I assume that this solution would be super slow.

[2022-10-17 13:16] Shrihari-Prakash commented on #218
Why do you think so? Typically, I don't expect a lot of elements in this cookie array.

[2022-10-17 13:20] Shrihari-Prakash commented on #218
Maybe yes, in the grand scheme of things with several thousands of requests :)

[2022-10-17 13:31] Uzlopak commented on #218
Just my thoughts:

1. Using forEach instead of a for-loop. Array helpers are usually a magnitude slower.
2. parsing every cookie, but isnt is enough to check if the serializedCookie startsWith `${name}=`? E.g. if the string startsWith `sessionId=` then we know that it is regarding sessionId. Or am I wrong?
3. splicing the array, but isnt it enough to replace the entry of the array? You found that

[2022-10-17 13:33] Shrihari-Prakash commented on #218
Agreed :)

[2022-10-17 13:40] Shrihari-Prakash commented on #218
![image](https://user-images.githubusercontent.com/35889246/196192165-2665729a-d22e-4275-96ba-a09a9388b66f.png)

Something like this?

[2022-10-17 13:49] mcollina commented on #218
Unfortunately I will have little time to look into this for a while.

[2022-10-17 13:58] Uzlopak commented on #218
@mcollina

To what are you referring your "i would hardly do anything like that." comment?

[2022-10-17 14:04] mcollina commented on #218
I mean, nested for loops are definitely not the way to go. I would hardly use or even support the pattern described at the top.

[2022-10-27 17:00] seia-soto opened #219 "The unit of `maxAge` is set in seconds, not msec"
### Prerequisites

- [X] I have written a descriptive issue title
- [X] I have searched existing issues to ensure the bug has not already been reported

### Fastify version

4.7.0

### Plugin version

8.3.0

### Node.js version

v18.10.0

### Operating system

macOS

### Operating system version (i.e. 20.04, 11.3, 10)

12.6 (21G115)

### Description

The following is fastify-cookie option typing (

[2022-10-27 17:01] seia-soto commented on #219
Using second for max-age is a common behavior and I think we can just update the type definition instead of fixing this.

[2022-10-27 18:27] Uzlopak commented on #219
It would be nice if you would provide a PR

[2022-10-27 19:14] seia-soto commented on #219
Done 🙃

[2022-10-27 19:23] #219 closed